body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: rgb(160, 160, 160);
}
header {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(90, 88, 112);
}
h1,
h2 {
  color: #555;
}
#main {
  width: 100%;
  max-width: 60vw;
  margin: 0 auto;
}
a {
  color: #fff;
  margin: 10px;
  text-decoration: none;
}
.nav-bar a.active {
  text-decoration: underline;
  text-decoration-color: rgb(176, 221, 53);
  text-decoration-thickness: 3px;
}
#container {
  width: 100%;
  position: relative;
}
section {
  padding-bottom: 40px;
}
.grey {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: rgb(233, 233, 233);
  z-index: -1;
}
#content {
  padding: 35px 30px 0 40px;
}
#home {
  display: flex;
}
.photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}
img {
  max-width: 130%;
  max-height: 130%;
}
#info {
  margin-left: 30px;
  width: 500px;
}
#info h1 {
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 0;
}
#info h3 {
  font-size: 22px;
  margin: 0;
  color: rgb(160, 160, 160);
}
#info hr {
  border: 1px solid rgb(160, 160, 160);
}
.class-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rounded {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
}
.lime {
  background-color: rgb(176, 221, 53);
  border: none;
  color: white;
  padding: 1px 5px;
}
.contact-btn {
  margin: 0 0 0 auto;
}
.stars {
  margin: 0 5px;
  display: flex;
}
#contact {
  margin-top: 20px;
  font-size: 20px;
  padding: 9px 22px;
}
table {
  width: 100%;
  font-size: 13px;
}
th {
  width: 100%;
  padding: 20px;
}
.list td {
  padding: 20px;
  border-bottom: 1px solid rgb(233, 233, 233);
}
.left {
  float: left;
}
.left h2 {
  font-size: 30px;
  font-weight: 800;
  margin: 0;
}
.left span {
  font-size: 19px;
  font-weight: 500;
}
.right {
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  font-size: 18px;
  font-weight: 400;
}
.right p {
  margin: 0;
}
input {
  width: 300px;
  height: 35px;
  border: 2px solid rgb(176, 221, 53);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
td > h2,
td > h3,
td > p {
  margin: 0;
  padding: 0;
}
td {
  color: rgb(160, 160, 160);
}
td button {
  background-color: #fff;
  color: rgb(176, 221, 53);
  border: 2px solid rgb(176, 221, 53);
  font-size: 19px;
  padding: 8px 16px;
}
#rowUp,
#rowDown {
  padding-top: 20px;
}
.week {
  border-collapse: collapse;
}
.td-border {
  width: 20px;
  height: 45px;
  border: 1px solid rgb(200, 200, 200);
}
.td-right-border {
  border-right: 1px solid rgb(230, 230, 230);
}
#week h3 {
  font-size: 20px;
}
.student {
  width: 220px;
  display: flex;
  align-items: center;
}
.comment-photo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
footer {
  width: 100%;
  background-color: rgb(90, 88, 112);
  padding: 40px 10px;
}
.footer-menu {
  display: flex;
  padding: 10px;
  flex-direction: row;
}
.footer-column {
  display: flex;
  flex-direction: column;
  width: 24%;
  padding: 20px 40px;
}
.vertical-line {
  border-right: 3px solid #504a5a;
}
footer h3,
h4 {
  margin-bottom: 0;
}
footer h3 {
  color: #fff;
}
footer p {
  margin: 5px 0;
}
footer img {
  width: 70px;
}
footer a {
  margin: 6px;
  color: rgb(160, 160, 160);
}
.icon-bar {
  margin-top: 20px;
  font-size: 23px;
}
.icon-bar a {
  color: #fff;
}
.copyright {
  margin-top: 50px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #container {
    max-width: 100%;
  }
  .grey {
    height: 115px;
  }
  #content {
    width: 93%;
    top: 120px;
    left: 20px;
  }
  .photo {
    height: 95px;
    width: 95px;
  }
  #info {
    margin-left: 10px;
    width: 220px;
    font-size: 9px;
  }
  #info h1 {
    font-size: 20px;
    margin-top: 10px;
  }
  #info h3 {
    font-size: 10px;
  }
  #contact {
    margin-top: 20px;
    font-size: 10px;
    padding: 6px 10px;
  }
  th,
  td {
    padding: 7px;
    font-size: 9px;
  }
  .left h2 {
    font-size: 15px;
  }
  .left span {
    font-size: 10px;
  }
  .right {
    font-size: 13px;
    font-weight: 400;
  }
  .right p {
    font-size: 9px;
  }
  input {
    width: 100px;
    height: 20px;
    border-width: 1px;
  }
  td h2 {
    font-size: 13px;
  }
  td button {
    font-size: 9px;
    padding: 4px 8px;
    border-width: 1px;
  }
  .student {
    width: 130px;
  }
  .student h2 {
    font-size: 11px;
  }
}
